*{
    margin: 0;
    padding: 0;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3B2754;
}

label{
    font-family: Bebas Neue;
    display: block;
    color: white;
    font-size: 15px;
}

p{
    padding-top: 20px;
    font-size: 10px;
    color: wite;
}

.logo{
    width: 470px;
    height: 470px;
    margin-right: 100px;
}

.icon_person{
    margin-bottom: 20px;
    width: 90px;
    height: 90px;
}

.container_box{
    display: grid;
    place-items: center;
    background-color: #632BAA;
    width: 30vw;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 6px;
    padding-left: 50px;
    padding-right: 50px;
}

.input_camp{
    padding-bottom: 10px;
}

.input_camp input{
    border-radius: 10px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    text-align: center;
    background-color: #3B2754;
}

button{
    
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #3B2754;
    color: white;
    border: none;
    font-family: Poppins;
}

.texto a{
    text-decoration: none;
    color: white;
}
